.jumbotron{
    background-color: lightcoral;
    text-align:center;
    }
    
     .btn{
         background-color:tan;
     }   
      .have{
          background-color:silver;
      }  
     
    
    .have{
      font-size:18px;
    }
     
.final {
    display: none;
}