.jumbotron{
    background-color: lightcoral;
    text-align:center;
    }
    
     .btn{
         background-color:tan;
         margin-left:5px;
     }   
      .have{
          background-color:silver;
      }  
     
    
    .have{
      font-size:18px;
    }
     
.final {
    display: none;
}
.score{
    background-color: lightcoral;
     font-size: 25px;    
     border: 5px tan;
     height:40px;
     width:180px;
     margin-left:5px;
     margin-bottom: 15px;
}

.container{
    background-color: bisque;
}